/* PARTNERS */
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 3rem;
  padding: 3rem 0;
}
.partners .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.partners .header h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.71875rem;
}
.partners .header p {
  font-size: 0.875rem;
  line-height: 1.71875rem;
}
.partners .images {
  padding: 5rem 6rem;
  border-radius: 0.3125rem;
  border: 1px solid #d434fe;
  position: relative;
}
.images .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.images .top {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  gap: 3rem;
}
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
}
.images .top img {
  flex: 1;
  object-fit: contain;
  width: 100%;
}
.images .top .topLine {
  width: 0.2rem;
  height: 7rem;
  background: #d434fe;
}
.images .horizLine {
  display: flex;
  /* gap: 5rem; */
  justify-content: center;
  width: 100%;
  position: absolute;
}
.horizLine .line {
  width: 11rem;
  height: 0.2rem;
  background: #d434fe;
}
.horizLine .line:nth-child(2) {
  width: 10rem;
  margin: 0 3rem;
}
@media screen and (min-width: 1600px) {
  .partners {
    gap: 5rem;
  }
  .partners .header {
    gap: 1.5rem;
  }
  .partners .header h1 {
    font-size: 3rem;
  }
  .partners .header p {
    font-size: 1.5rem;
  }
  .partners .images {
    padding: 7rem 8rem;
    border-radius: 1rem;
  }
  .images .box {
    gap: 2rem;
  }
  .images .top {
    gap: 4rem;
  }
  .imgBox {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
  }
  .horizLine .line {
    width: 11rem;
    height: 0.2rem;
  }
  .horizLine .line:nth-child(2) {
    width: 10rem;
    margin: 0 8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .partners {
    gap: 4rem;
    height: fit-content;
  }
  .partners .header {
    gap: 1rem;
  }
  .partners .header h1 {
    font-size: 2rem;
  }
  .partners .header p {
    font-size: 1rem;
  }
  .partners .images {
    padding: 6rem 7rem;
    border-radius: 1rem;
  }
  .images .box {
    gap: 1.5rem;
  }
  .images .top {
    gap: 4rem;
  }
  .imgBox {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
  }
  .horizLine .line {
    width: 11rem;
    height: 0.2rem;
  }
  .horizLine .line:nth-child(2) {
    width: 10rem;
    margin: 0 8rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .partners {
    gap: 3rem;
    height: fit-content;
  }
  .partners .header {
    gap: 0.7rem;
  }
  .partners .header h1 {
    font-size: 1.5rem;
  }
  .partners .header p {
    font-size: 1rem;
  }
  .partners .images {
    padding: 5rem 6rem;
    border-radius: 1rem;
  }
  .images .box {
    gap: 1.5rem;
  }
  .images .top {
    gap: 3rem;
  }
  .imgBox {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1.5rem;
  }
  .horizLine .line {
    width: 11rem;
    height: 0.2rem;
  }
  .horizLine .line:nth-child(2) {
    width: 10rem;
    margin: 0 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .partners {
    gap: 3rem;
  }
  .partners .header {
    gap: 0.5rem;
  }
  .partners .header h1 {
    font-size: 1rem;
  }
  .partners .header p {
    font-size: 0.7rem;
  }
  .partners .images {
    padding: 5rem 6rem;
    border-radius: 1rem;
  }
  .images .box {
    gap: 1.5rem;
  }
  .images .top {
    gap: 2rem;
  }
  .images .top .topLine {
    height: 6.5rem;
  }
  .imgBox {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
  }
  .horizLine .line {
    width: 9rem;
    height: 0.2rem;
  }
  .horizLine .line:nth-child(2) {
    width: 8rem;
    margin: 0 2.2rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .partners {
    gap: 2rem;
  }
  .partners .header {
    gap: 0rem;
  }
  .partners .header h1 {
    font-size: 0.7rem;
  }
  .partners .header p {
    font-size: 0.4rem;
  }
  .partners .images {
    padding: 4rem 5rem;
    border-radius: 1rem;
  }
  .images .box {
    gap: 1rem;
  }
  .images .top {
    gap: 2rem;
  }
  .images .top .topLine {
    height: 5rem;
  }
  .imgBox {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
  }
  .horizLine .line {
    width: 8rem;
    height: 0.15rem;
  }
  .horizLine .line:nth-child(2) {
    width: 7rem;
    margin: 0 2.2rem;
  }
}
@media screen and (max-width: 576px) {
  .partners {
    gap: 2rem;
  }
  .partners .header {
    gap: 0.5rem;
  }
  .partners .header h1 {
    font-size: 1.25rem;
  }
  .partners .header p {
    font-size: 0.75rem;
    width: 70%;
  }
  .partners .images {
    padding: 2rem 4rem;
    border-radius: 0.3125rem;
  }
  .images .box {
    gap: 1rem;
  }
  .images .top {
    gap: 2rem;
  }
  .images .top .topLine {
    width: 0.125rem;
    height: 1.86525rem;
  }
  .imgBox {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
  }
  .horizLine .line {
    width: 4.26694rem;
    height: 0.125rem;
  }
  .horizLine .line:nth-child(2) {
    width: 4rem;
    margin: 0 1.6rem;
  }
}

.success {
  height: 100vh;
  position: relative;
}
.success .model {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(21, 14, 40, 0.3);
}
.modelBox {
  width: 50%;
  height: fit-content;
  background: transparent;
  border-radius: 0.3125rem;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modelBox .imageContainer {
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modelBox .downSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: auto;
  width: 100%;
}
.modelBox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.modelBox .text {
  text-align: center;
}
.modelBox h1 {
  font-size: 24px;
  font-weight: 600;
}
.modelBox p {
  font-size: 12px;
  font-weight: 600;
  width: 30%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}
.modelBox p img {
  align-self: flex-end;
}
.modelBox button {
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .modelBox h1 {
    font-size: 18px;
  }
  .modelBox p {
    font-size: 11px;
    width: 70%;
  }
  .modelBox button {
    height: 2rem;
    font-size: 14px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .modelBox h1 {
    font-size: 14px;
  }
  .modelBox p {
    font-size: 11px;
    width: 60%;
  }
  .modelBox button {
    height: 1.5rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .modelBox {
    padding: 1rem;
  }
  .modelBox h1 {
    font-size: 12px;
  }
  .modelBox p {
    font-size: 10px;
    width: 80%;
  }
  .modelBox p img {
    align-self: flex-end;
    height: 10px;
    width: 10px;
  }
  .modelBox button {
    height: 1.5rem;
    font-size: 10px;
  }
}
