@font-face {
  font-family: "Clash Display";
  src: url("../../assets/fonts/clash-display/ClashDisplay-Light.ttf")
    format("ttf");
}
@font-face {
  font-family: "Clash Display Regular";
  src: url("../../assets/fonts/clash-display/ClashDisplay-Regular.ttf")
    format("ttf");
}
@font-face {
  font-family: "Clash Display Bold";
  src: url("../../assets/fonts/clash-display/ClashDisplay-Bold.ttf")
    format("ttf");
}

.footer {
  display: flex;
  flex-direction: column;
  background: #100b20;
}

.footerTop {
  display: flex;
  padding: 5rem 6rem 1rem 6rem;
  background: #100b20;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.footerTop #bright-star {
  position: relative;
  top: 2rem;
}
.footer #purple-star {
  align-self: center;
  margin-bottom: 1rem;
}
.footer #dim-star {
  position: relative;
  top: 1rem;
}
.footer #star {
  position: relative;
  align-self: flex-end;
  bottom: 1rem;
}

.footer .about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  margin-left: 6rem;
}
.about .aboutTop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.aboutTop h1 {
  font-size: 1.875rem;
  font-weight: 700;
}
.aboutTop h1 span {
  color: #d434fe;
}
.aboutTop p {
  font-size: 0.75rem;
  width: 80%;
}
.about .terms {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.terms h3 {
  font-size: 0.75rem;
}
.terms hr {
  background: #d434fe;
  height: 15px;
  width: 2px;
  border: none;
}
.footerRight {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  gap: 3rem;
}
.footer .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}
.footer h2 {
  font-size: 0.875rem;
  color: #d434fe;
}
.footer .links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  list-style: none;
}

.footer .links li {
  font-size: 0.75rem;
  cursor: pointer;
}

.links .follow {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.follow p {
  font-size: 0.75rem;
  color: #d434fe;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}
.footer .contact span {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.contact p {
  font-size: 0.75rem;
}
.contact p:last-child {
  width: 50%;
}
.footer > p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}
